<main>
{{#g-map markersFitMode='live' lat=model.lat lng=model.lng zoom=12 as |context|}}
  {{#each model.eventsOfDay as |event|}}
    {{#if event.is_spot}}
      {{g-map-address-marker context address=event.name title=event.name}}
    {{/if}}
  {{/each}}
{{/g-map}}
<div class="draggable-bar">
  <i class="fa fa-bars"></i>
</div>
<ul class="travel-days">
  {{#each model.days as |date|}}
    <li class="travel-days__date">
      {{#link-to "index" date }}
        <span class="travel-days__date__month">{{date.month}}</span>
        <span class="travel-days__date__day">{{date.day}}</span>
        <span class="travel-days__date__daysOfTheWeek">（{{date.daysOfTheWeek}}）</span>
      {{/link-to}}
    </li>
  {{/each}}
  <li class="travel-days__date--empty">
    <a>
      <i class="fa fa-pencil"></i>
    </a>
  </li>
</ul>
<ul class="travel-events">
  {{#each model.eventsOfDay as |event index|}}
		<li class="travel-events__event--{{spotOrMovement event}}" {{action "onEventSelected" model index}}>
      <span class="travel-events__marker">{{event.mark}}</span>
      <i class="travel-events__icon {{event.icon}}"></i>
      {{#if event.timespan}}
      <div class="travel-events__timespan">
        {{#each event.timespan as |time|}}
          <span class="travel-events__timespan__time">{{time}}</span>
        {{/each}}
      </div>
      {{/if}}
      <span class="travel-events__name">{{event.name}}</span>
		</li>
  {{/each}}
	<li class="travel-events__event">
		<button type="button" class="spot-append-button">
		  <i class="fa fa-plus-circle"></i>
		</button>
	</li>
</ul>
</main>
